body, html {
    height: 100%;
    margin: 0;
    overflow: auto;
}
.bg {
    /* The image used */
    background-image: url("../images/beerPattern.jpg");
    /*https://www.google.com/search?q=crystal+wallpaper&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjctrr_8tfVAhUq34MKHRIVBj4Q_AUICigB&biw=1366&bih=638#imgrc=S6uIbuiSbG9GOM:*/
    
    /* Full height */
    /*height: 100px;*/

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    transition: all .2s ease-in-out;
}

h3{
    font-size: 45px;
}

.card-container {
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-bottom: 40px;
}

.card {
    position: relative;
    display: inline-block;
    height: 300px;
    width: 30%;
    background: white;
    border: 5px solid #D25512;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Lager{
    background-image: url("../images/Lager.jpg"); 
}

div[id="Pale Ale"]{
 background-image: url("../images/Pale Ale.jpg");   
}

#Lager:hover, div[id="Pale Ale"]:hover, #Stout:hover, #Pilsner:hover, #IPA:hover, #Porter:hover, div[id="Wheat Beer"]:hover, div[id="Double IPA"]:hover{
    background-image: none;
    background: #D25512;
}

.card:hover h3 {
    color: white;
}

.card-container .card h3 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

@media screen and (max-width: 1200px) {
    .card {
        width: 40%;
    }
}