body,
html {
    height: 100%;
    margin: 0;
    overflow: auto;
    font-family: 'Indie Flower', cursive;
}

.bg {
    /* The image used */
    background: #fff8ea;
    /*https://www.google.com/search?q=crystal+wallpaper&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjctrr_8tfVAhUq34MKHRIVBj4Q_AUICigB&biw=1366&bih=638#imgrc=S6uIbuiSbG9GOM:*/
    /* Full height */
    /*height: 100px;*/
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    transition: all .2s ease-in-out;
    background: #edd890;
    letter-spacing: 1px;
    line-height: 1.4;
}

h3 {
    font-size: 45px;
}

.card-container {
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-bottom: 40px;
}

.card {
    position: relative;
    display: inline-block;
    height: 450px;
    width: 30%;
    margin: 20px;
    background: #edd890;
    border: 5px solid #edd890;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#lager {
    background-image: url("../images/Lager 2.jpg");
}

div#pale-ale {
    background-image: url("../images/Pale Ale 2.jpg");
}

#stout {
    background-image: url("../images/Stout 2.jpg");
}

#pilsner {
    background-image: url("../images/Pilsner.jpg");
}

#ipa {
    background-image: url("../images/IPA.JPG");
}

div#double-ipa {
    background-image: url("../images/Double IPA.jpg");
}

#porter {
    background-image: url("../images/Porter.jpg");
}

div#wheat-beer {
    background-image: url("../images/Wheat Beer.jpg");
}

#lager:hover,
div#pale-ale:hover,
#stout:hover,
#pilsner:hover,
#ipa:hover,
#porter:hover,
div#wheat-beer:hover,
div#double-ipa:hover {
    background-image: none;
    background: #edd890;
}

.card:hover h3 {
    color: black;
}

.card-container .card h3 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.card-container .card p {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    color: black;
    font-family: 'avenir', sans-serif;
    display: none;
    text-align: left;
    font-size: 18px;
    line-height: 1.4;
    padding: 12px;
    letter-spacing: .6px;
}

.card:hover p {
    display: block;
}

.header {
    background-color: #edd890;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin: 20px;
    padding: 20px 20px 30px 20px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}



#credits-img {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: 150px;
    opacity: .45;
    transition: all .5s ease-in-out;
}

@media screen and (max-width: 920px) {
    #credits-img {
        position: relative;
        padding: 20px;
        top: auto;
        right: auto;
        transform: translateY(0%);
    }
}

#credits-img:hover {
    opacity: 1;
}

.header h1 {
    font-size: 55px;
    background-color: transparent;
    padding: 15px;
}

.header h2 {
    font-size: 24px;
    background-color: transparent;
    padding: 10px;
}

@media screen and (max-width: 1200px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 680px) {
    .card {
        width: 80%;
    }
}

a {
    color: black;
    text-decoration: none;
}