body section.results .cards {
  width: 75%;
  position: relative;
  margin: 0px auto;
  border: 3px solid #edd890;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  transition: all .2s ease-in-out;
  cursor: pointer; }
  body section.results .cards:hover {
    text-decoration: none;
    background: #edd890;
    border: 3px solid #edd890; }
    body section.results .cards:hover span.rank-number {
      background: white;
      color: black;
      margin-right: 40px; }
  body section.results .cards span.rank-number {
    margin-right: 20px;
    position: relative;
    display: inline-block;
    background: black;
    transition: all .15s ease-in-out;
    color: white;
    top: -7px;
    text-align: center;
    padding: 15px 20px;
    margin-left: 15px; }
  body section.results .cards h2 {
    display: inline-block;
    margin: 10px 0px;
    font-size: 30px; }
  body section.results .cards .stats {
    position: absolute;
    top: 10px;
    right: 15px; }
    body section.results .cards .stats p {
      margin: 5px 0px;
      font-size: 12px; }
      body section.results .cards .stats p.abv {
        position: relative; }
        body section.results .cards .stats p.abv:before {
          content: '';
          position: absolute;
          transition: all .2s ease-in-out;
          top: 13px;
          right: 0px;
          display: block;
          opacity: 0;
          padding: 0px;
          height: 0px;
          width: 0px; }
        body section.results .cards .stats p.abv:hover:before {
          content: "A standard measure of how much alcohol (ethanol) is contained in a given volume of an alcoholic beverage (expressed as a volume percent)";
          display: block;
          position: absolute;
          top: 13px;
          right: 0;
          opacity: 1;
          width: 150px;
          height: 160px;
          background: rgba(0, 0, 0, 0.85);
          color: white;
          padding: 20px;
          line-height: 2.4;
          z-index: 10; }
      body section.results .cards .stats p.ibu {
        position: relative; }
        body section.results .cards .stats p.ibu:before {
          content: '';
          position: absolute;
          transition: all .2s ease-in-out;
          top: 13px;
          right: 0px;
          display: block;
          opacity: 0;
          padding: 0px;
          height: 0px;
          width: 0px; }
        body section.results .cards .stats p.ibu:hover:before {
          content: "An International Bitterness Unit (IBU) is a measure of the bitterness in beer. One IBU is equal to one milligram of isomerized alpha acid per liter of beer. Isomerized alpha acids are the main bittering acids derived from hops";
          display: block;
          position: absolute;
          top: 13px;
          right: 0;
          opacity: 1;
          width: 150px;
          height: 200px;
          background: rgba(0, 0, 0, 0.85);
          color: white;
          padding: 20px;
          line-height: 2.4;
          z-index: 10; }
  body section.results .cards p {
    margin: 10px 0px;
    font-size: 14px; }

body section.map .backButt {
  position: relative;
  margin: 0px auto;
  border: 3px solid #edd890;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  display: inline-block; }
  body section.map .backButt:hover {
    text-decoration: none;
    background: #edd890;
    border: 3px solid #edd890; }
