body {
    section.results {

        .cards {
            width: 75%;
            position: relative;
            margin: 0px auto;
            border: 3px solid #edd890;
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 10px;
            transition: all .2s ease-in-out;
            cursor: pointer;
            &:hover {
                text-decoration: none;
                background: #edd890;
                border: 3px solid #edd890;
                span {
                    &.rank-number {
                        background: white;
                        color: black;
                        margin-right: 40px;
                    }
                }
            }
            span {
                &.rank-number {
                    margin-right: 20px;
                    position: relative;
                    display: inline-block;
                    background: black;
                    transition: all .15s ease-in-out;
                    color: white;
                    top: -7px;
                    text-align: center;
                    padding: 15px 20px;
                    margin-left: 15px;
                }
            }
            h2 {
                display: inline-block;
                margin: 10px 0px;
                font-size: 30px;
            }
            .stats {
                position: absolute;
                top: 10px;
                right: 15px;
                p {
                    margin: 5px 0px;
                    font-size: 12px;
                    &.abv {
                        position: relative;
                        &:before{
                        	content: '';
                        	position: absolute;
                        	transition: all .2s ease-in-out;
                        	top: 13px;
                        	right: 0px;
                        	display: block;	
                        	opacity: 0;
                        	padding: 0px;
                        	height: 0px;
                        	width: 0px;
                        }
                        &:hover {
                            &:before {
                                content: "A standard measure of how much alcohol (ethanol) is contained in a given volume of an alcoholic beverage (expressed as a volume percent)";
                                display: block;
                                position: absolute;
                                top: 13px;
                                right: 0;
                                opacity: 1;
                                width: 150px;
                                height: 160px;
                                background: rgba(0,0,0,.85);
                                color: white;
                                padding: 20px;
                                line-height: 2.4;
                                z-index: 10;
                            }
                        }
                    }
                    &.ibu {
                        position: relative;
                        &:before{
                        	content: '';
                        	position: absolute;
                        	transition: all .2s ease-in-out;
                        	top: 13px;
                        	right: 0px;
                        	display: block;	
                        	opacity: 0;
                        	padding: 0px;
                        	height: 0px;
                        	width: 0px;
                        }
                        &:hover {
                            &:before {
                                content: "International Bitterness Units are a chemical measurement of the number of bittering compounds, specifically isomerized and oxidized alpha acids, polyphenols, and a few other select bittering chemicals";
                                display: block;
                                position: absolute;
                                top: 13px;
                                right: 0;
                                opacity: 1;
                                width: 150px;
                                height: 200px;
                                background: rgba(0,0,0,.85);
                                color: white;
                                padding: 20px;
                                line-height: 2.4;
                                z-index: 10;
                            }
                        }
                    }
                }
            }
            p {
                margin: 10px 0px;
                font-size: 14px;
            }
        }
    }
    section.map{
        .backButt{
            position: relative;
            margin: 0px auto;
            border: 3px solid #edd890;
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 10px;
            transition: all .2s ease-in-out;
            cursor: pointer;
            display: inline-block;
            &:hover {
                text-decoration: none;
                background: #edd890;
                border: 3px solid #edd890;
                // span {
                //     &.rank-number {
                //         background: white;
                //         color: black;
                //         margin-right: 40px;
                //     }
                }
        }
    }
}